.navbar {
    --bs-navbar-padding-y: 0.5rem;
}

#intro {
    background-image: url(Images/mountains2.jpg);
    background-size: cover;

}

/*************** About Me ****************/
.self-image {
    position: relative;
}

#ashley-pic {
    width: 85%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    border-radius: 100%;
}

.intro-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.intro-section h1,
h2 {
    font-family: 'Playfair Display', serif;
    text-transform: none;
}

.intro-section h1 {
    font-size: 5rem;

}

.intro-section h2 {
    font-size: 3rem;
}

.intro-section h3 {
    font-size: 2rem;
    font-weight: 900;
}

h4 {
    font-family: 'Playfair Display', serif;
    letter-spacing: normal;
}

.about {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/****************** Skills *********************/
.skills {
    /* min-height: 60vh; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-top: 100px;
    row-gap: 15px;
    align-content: flex-start;
}

.dev-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 13%;
    row-gap: 5px;
}

.dev-icons img {
    height: 100px;
}

.dev-icons h6 {
    text-align: center;
}

/****************** Projects *********************/
.carousel {
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    border: 0.1px black solid;
}

.jobly-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.jobly-title {
    position: relative;
    bottom: 15px;
}

.section-header {
    padding-top: 100px;
}

.projects {
    margin-top: 100px;
}